  .taper {
    border-radius: 3px 3px 22px 22px;
    height: 0px;
    border-style: solid;
    border-width: 65px 15px 0 15px;
    cursor: pointer;
  }

  .rectangle02,
  .rectangle04,
  .rectangle06 {
    border-color: #4F4F4F transparent;
    border-radius: 1px 1px 12px 12px;
    border-style: solid;
    border-width: 25px 10px 0PX 10px;
  }

  .content-FFC313,
  .content-4076DA,
  .content-29A4F7,
  .content-27CA75 {
    display: flex;
  }

  .funnelPara{
    margin: -65px -15px;
    padding: 22px;
  }