.profile {
    width: 250px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.imageDetail {
    width: 100px;
    height: 100px;
    background: rgba(208, 208, 208, 0.5);
    border: 2px solid;
    padding: 3px;
}

.profile .userNameDetail {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #808085;
}

.profile .userIdDetail {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #808085;
}

.line1 {
    width: 150px;
    height: 2px;
    background-color: #e8e8e8;
}

.profile .emailPhoneDetail {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #808085;
}

.line2 {
    width: 150px;
    height: 2px;
    background-color: #e8e8e8;
}

.profile .p4 {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #808085;
}

.profile .p5 {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #000000;
}

.line3 {
    width: 150px;
    height: 2px;
    background-color: #e8e8e8;
}

.profile .p6 {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #808085;
}

.profile .p7 {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #000000;
}

.heatmap {
    width: 760px;
    height: 400px;
    background: #FFFFFF;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
}

.top {
    width: 760px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    background: #4076DA;
    color: #FFFFFF;
}

.interest {
    position: absolute;
    width: 300px;
    height: 145px;
    left: 370px;
    top: 585px;
    background: #ffffff;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.goods {
    position: absolute;
    width: 660px;
    height: 145px;
    left: 690px;
    top: 585px;

    background: #ffffff;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.c-line {
    position: absolute;
    width: 120px;
    height: 2px;
    top: 70px;
    left: 275px;
    background: #808085;
    transform: rotate(90deg);
    border-radius: 20px;
    opacity: 75%;
}

.interest img {
    margin-top: 20px;
    margin-left: 20px
}

.interest p {
    position: absolute;
    left: 50px;
    bottom: 85px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #808085;
}

.goods img {
    margin-top: 20px;
    margin-left: 20px;
}

.goods p1 {
    position: absolute;

    left: 50px;
    bottom: 102px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #808085;
}

.purchased {
    position: absolute;
    width: 180px;
    height: 24px;
    left: 360px;
    bottom: 100px;
    background: rgba(255, 255, 255, 0.3);
}

.purchased img {
    margin: 0px;
    padding: 0px;
}

.purchased p2 {
    position: absolute;
    left: 30px;
    top: 2px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #808085;
}

/* ----------------- CSS for Notification Hub ----------------- */

.back {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.back .notificationHeading {
    font-weight: 700;
    font-size: 24px;
    color: #4F4F4F;
}

.back .markAsRead {
    font-weight: lighter;
    font-size: 16px;
    color: #4076DA;
}

.line {
    height: 1px;
    background-color: #808085;
}

.circle {
    background-color: #D9D9D9;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.rect1 {
    box-sizing: border-box;
    background: rgba(64, 118, 218, 0.1);
    border: 1px solid #4076DA;
}

.innerContent h3 {
    font-weight: bolder;
    font-size: 16px;
    color: #000000;
}

.notificationSender {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: #4076DA;
}

.notificationTime,
.notificationDate {
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    color: #27CA75;
}

.rect3 {
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #808085;
}

/* ----------------- CSS for Notification Start Here ----------------- */
.notificationContainer{
    max-width: 350px;
}
.notificationCircle{
    height: 35px;
    width: 35px;
}
.notificationHeading{
    font-size: 16px;
    font-weight: bold;
}
/* ----------------- CSS for Notification End Here ----------------- */

/* ----------------- CSS for Push Notification Start Here ----------------- */
.sidebar{
width: 250px;
height: 75vh;
background: #FFFFFF;
box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
}
.sidebar div p{
    cursor: pointer;
}
.sidebar div p:hover{
    background-color: #27CA75;
    color: white;
}
.options{
    display: none;
}
/* .userIP {

}

.deviceTracking {

}

.operatingSystem {

}

.geographic {

}

.demographic {
 
} */